<header class="main__navegation">
  <a href="#">
    <img src="../../public/logo.svg" alt="">
  </a>
  <ul class="list__main__navegation">
    <li><a href="#">Inicio</a></li>
    <li><a href="#">Lechones</a></li>
    <li><a href="">Nosotros</a></li>
    <li><a href="">Ubicación</a></li>
  </ul>
</header>

<style>
.main__navegation {
  width: 100%;
  height: 8em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}
.list__main__navegation {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.list__main__navegation li a {
  display: block;
  color: var(--dark-blue);
  text-decoration: none;
  font-weight: bold;
}
</style>
